/*
 * Overrides some of Scribble's default stying to match Apt's colors
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic);

.navsettop, .navsetbottom, .tocset {
    background-color: #ff6600;
    color: white;
}

.navsettop, .navsetbottom, .tocset td a {
    color: white;
}

.tocset td a.tocviewselflink {
    color: inherit;
    font-weight: bolder;
}

.navsettop a, .navsetbottom a {
    color: inherit;
}

.navsettop .nonavigation, .navsetbottom .nonavigation {
    color: #bbb;
}

.navsettop a:hover, .navsetbottom a:hover {
    background: #7f3300;
}

.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom {
    border-left: 1px solid #bbb;
}

.refcolumn {
    background: #adc4cc;
    border-color: #0099cc; 
}

/*
 * Override some of the default fonts
 */

body, .main {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.SAuthorListBox {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

.tocset td, .navsettop, .navsetbottom {
    font-family: 'Roboto', sans-serif;
}
